body {
    margin: 20px 0px;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: #aba876;
}
.main_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.heading{
    display: flex;
    font-size: 32px;
    align-items: center;
    justify-content: center;
}
.container{
    height: 450px;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
}
.puzzle{
    background-image: url("ironman.jpg");
    height: 150px;
    width: 150px;
    border: 1px solid black;
    box-sizing: border-box;
    background-size: 450px;
}
.piece-1{
    background-position: 0px 0px;
}
.piece-2 {
    background-position: -150px 0;
}
.piece-3 {
    background-position: -300px 0;
}
.piece-4 {
    background-position: 0 -150px;
}
.piece-5 {
    background-position: -150px -150px;
}
.piece-6 {
    background-position: -300px -150px;
}
.piece-7 {
    background-position: 0 -300px;
}
.piece-8 {
    background-position: -150px -300px;
}
.piece-9 {
    background-position: -300px -300px;
}
.button_container{
    display: flex;
    justify-content: space-between;
}
.solve_button{
    font-size: 25px;
    padding: 10px 30px;
    border: none;
    background-color: green;
    color: white;
}
.reset_button{
    font-size: 25px;
    padding: 10px 30px;
    border: none;
    background-color: red;
    color: white;
}
